* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: '궁서', 'Gungsuh', serif;
}


.main-title {
    position: absolute;
    top: 3vh; 
    left: 2vw;
    color: #aea98d;
    font-size: 1.2vw;
    letter-spacing: 1px;
    z-index: 10;
    pointer-events: none;
}

.archive {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.person {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    text-decoration: none;
    
    padding: 0 1.2vw 4vh 0; 
    transition: all 0.3s ease;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    
    height: 88%;
    font-weight: bold;
    font-size: 10vw; 
    line-height: 1;
}

.hangul {
    display: none; 
}

.person:hover .hanja {
    display: none; 
}
.person:hover .hangul {
    display: flex; 
}

.col-1 { background-color: #292b23; color: #aea98d; }
.col-2 { background-color: #737164; color: #f4f0e3; }
.col-3 { background-color: #d6dbc5; color: #262328; }
.col-4 { background-color: #bdbfb4; color: #414141; }
.col-5 { background-color: #272328; color: #828174; }

@media (max-width: 768px) {

    .main-title {
        font-size: 3.5vw;
        top: 2vh;
        left: 3vw;
    }
    
    .text-box {
        font-size: 15vw;
        height: 90%; 
    }
    .person {
        padding: 0 1.5vw 3vh 0; 
    }
}